<link href="__STYLE__/css/footer.css" rel="stylesheet">
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File            BUG  -->
  <link href="__STYLE__/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">




  <!-- Libraries CSS Files -->
  <link href="__STYLE__/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<div style="border-top: 1px solid #fff;padding-bottom:25px;margin-top:35px;min-width:1200px;"></div>
<div class="wst-footer-flink">
	<div class="wst-footer" >




	</div>
</div>

<!--==========================
		Footer
	============================-->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-info">
						<h3>XX养车网</h3>
						<p></br>创立于悉尼，XX养车是深受欢迎的汽车养护优惠信息平台，我们希望客户，养车找XX，一点不辛苦！
						</p>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>相关链接</h4>
						<ul>
							<li><i class="ion-ios-arrow-right"></i> <a href="home">首页</a></li>
							<li><i class="ion-ios-arrow-right"></i> <a href="#">我们的团队</a></li>
							<li><i class="ion-ios-arrow-right"></i> <a href="#">F&Q</a></li>
							<li><i class="ion-ios-arrow-right"></i> <a href="#">关于我们</a></li>
							<li><i class="ion-ios-arrow-right"></i> <a href="#">友情链接</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-contact">
						<h4>联系我们</h4>
						<p><strong>地址：</strong>
							Suite 1506 <br>
							Level 15, 323 Castlereagh St<br>
							Sydney NSW 2000 <br>
							<strong>电话：</strong> (02) 8373 5326<br>
							<strong>邮箱：</strong> info.sydney@juriscorlegal.com.au<br>
						</p>

						<div class="social-links">
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
							<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>

					</div>

					<div class="col-lg-3 col-md-6 footer-newsletter">
						<h4>订阅服务</h4>
						<p>订阅 XX养车网 新闻邮件，了解更多汽车养护优惠资讯。
						</p>
						<form action="" method="post">
							<input type="email" name="email"><input type="submit"  value="Subscribe">
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong>Juris Cor Legal 2018</strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!--
					All the links in the footer should remain intact.
					You can delete the links only if you purchased the pro version.
					Licensing information: https://bootstrapmade.com/license/
					Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
				-->
				悉尼XX养车网，澳大利亚最专业的汽车养护信息平台
			</div>
		</div>
	</footer><!-- #footer -->



	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
